{% extends "base.html" %}
{% block title %}dispositivo{% endblock %}
{% load static %}
{% block header %}{% endblock %}
{% block app_js %}
<script type="module" src="{% static 'core/js/dispositivo_gestor.js' %}"></script>
{% endblock %}

{% block content %}
<div class="p-4 w-100">
    <h1>Dispositivos</h1>
    <h5>Gerencie os dispositivos de cada instituição de forma geral.</h5>
    <div class="row h-100 pb-5" id="dispositivos-container">
        <!-- Cards de demanda serão inseridos aqui dinamicamente -->

        
    </div>
</div>
{% endblock %}