{% extends "base.html" %}
{% block title %}Frequencia{% endblock %}
{% load static %}
{% block app_js %}
<script type="module" src="{% static 'core/js/frequencia_gestor.js' %}"></script>
{% endblock %}
{% block header_bt %}
{% endblock %}

{% block content %}

<div class="w-100 p-4">
    <h1>Frequência dos estagiários</h1>
    <h5>Filtre e acompanhe os registros de ponto, status e frequência geral.</h5>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <div class="row g-2 align-items-end">
                <div class="col-lg-3 col-md-6">
                    <label for="estagiarioSelect" class="form-label">Estagiário:</label>
                    <select class="form-select" id="estagiarioSelect">
                        <option value="all" selected>Todos os Estagiários</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-6">
                    <label for="turmaSelect" class="form-label">Turma:</label>
                    <select class="form-select" id="turmaSelect">
                    </select>
                </div>
                <div class="col-lg-2 col-md-4">
                    <label for="statusSelect" class="form-label">Status:</label>
                    <select class="form-select" id="statusSelect">
                        <option value="all" selected>Todos</option>
                        <option value="presente">Presente</option>
                        <option value="falta">Faltou</option>
                        <option value="atrasado">Atraso</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-4">
                    <label for="diasSelect" class="form-label">Dias:</label>
                    <select class="form-select" id="diasSelect">
                        <option value="30">Últimos 30 dias</option>
                        <option value="14" selected>Últimos 14 dias</option>
                        <option value="7">Últimos 7 dias</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-12 text-lg-end">
                    <button class="btn btn-success me-2" id="filterBtn"><i class="bi bi-funnel-fill"
                            style="color: white;"></i> Aplicar Filtros</button>

                </div>
            </div>
        </div>
    </div>
    <div class="mb-4" id="statusEstagiario">
        
    </div>
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
            <div id="tabelaTitle" class="d-flex justify-content-between w-100">

            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr id="thead">

                        </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}